.header {
    width: 100%;
    height: 10%;
    border: 1px solid #999999;
}

.main {
    width: 100%;
    height: 80%;
    border: 1px solid #999999;
}

.left {
    float: left;
    border: 1px solid #999999;
}

.right {
    border: 1px solid #999999;
}

.footer {
    border: 1px solid #999999;
}